.dashboard {
  display: flex;
  flex-direction: row;
  margin: 0px 20px;

  .aside-menu {
    flex: 0 0 200px;
    background-color: #fffbeb;
    width: 20%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 5px;
    margin-right: 10px;

    li {
      list-style: none;
      margin-bottom: 10px;
      font-size: 0.9rem;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
