.navigation {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background-color: white;
  .logo-container {
    height: 100%;
    width: 70px;
    padding: 0px;
    padding-left: 20px;
    .logo {
      width: 70px;
    }
  }
  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .nav-link {
      padding: 10px 20px;
      cursor: pointer;
    }
  }
}

.footer {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  background-color: #f8cba6;
}
