.add-equipment-container {
  display: flex;
  justify-content: center;

  .form-container {
    width: 60%;
  }

  .form-input {
    padding-left: 10px;
  }

  .form-date {
    padding-left: 10px;
  }

  .buttons-container {
    justify-content: space-between;
  }
}
