.add-equipment-container {
  display: flex;
  justify-content: center;

  .form-container {
    width: 60%;
  }

  //   .form-select,
  //   .form-input,
  //   .form-date {
  //     margin: 0px 20px;
  //     padding-top: 0px;
  //   }
}
