.filter-input {
  width: 30%;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.8rem;

  thead {
    background-color: #ffe7cc;

    th {
      padding: 10px;
      text-align: left;
      font-weight: bold;
    }
  }

  tbody {
    tr:nth-child(odd) {
      background-color: white;
    }
    tr:nth-child(even) {
      background-color: #ecf9ff;
    }

    tr:hover {
      background-color: #f0f0f0;
      cursor: pointer;
    }

    td {
      padding: 10px;
    }

    .Price,
    .Value {
      text-align: right;
    }
  }
}
